.header{
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    gap: 490px; 
    align-items: center; 
    margin-bottom: 40px;  
}
.header span{
    font-size: 50px;
    margin-right: 30px;
}
ul{
    text-transform: capitalize;
    list-style: none;
}
ul li{
    width: 200px;
    height: 35px;
    float: left;
    text-align: center;
    margin-left: -35px;
}
ul li a{
    text-decoration: none;
    color:black;
    font-weight: 800;
}
ul li a:hover{
    background: lightpink;
    color:black;
}
ul li li{
    display: none;
}
ul li:hover ul li{
    display: block;
    background: lightpink;
}
.display{
    margin-top: 200px;
    margin-left: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    padding: 8px;
}
.cost{
    font-size: 1.5rem;
    text-align: center;
}
button{
    text-transform: uppercase;
    font-size: 1.2rem;
    padding:7px;
    border-radius: 7px;
    color:gold;
    background: white;
}
button:hover{
    cursor: pointer;
    color: white;
    background: gold;
    transition: .7s;
}

.footer{
    margin-top: 200px;
    text-align: center;
}
.discount h3{
    font-size: 40px;
}
.icons span i{
    font-size: 40px;
}



